section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    background-color: salmon;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

article {
    background-color: lightcoral;
    padding: 10px;
    margin: 10px;
    flex: 200px;
    height: 450px;
}

article > div#container {
    display: flex;
    flex-flow: row wrap;
}
article > div#container > button{
    flex: 70px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;   
}

p {
    font-family: Arial, Helvetica, sans-serif;     
}

article:nth-of-type(1) {
    background-color: mediumvioletred;
    flex: 3;
}
article:nth-of-type(2) {
    background-color: mediumseagreen;
    flex: 3;
}
article:nth-of-type(3) {
    background-color: mediumblue;
    flex: 4;
}
button {
    height: 30px;
    width: 50px;
    margin: 10px 25px 10px 25px;
    font-weight: bold;
}
